.hdr { //header
  position: absolute;
  background: transparent;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  &_nav {
    &-list {
      li {
        min-width: 120px;
        text-align: center;

        &:not(:last-child) {
          margin-right: 75px;
        }
        &:nth-child(2) {
          margin-right: 305px;
        }

        a {
          color: #fff;
          font: 400 20px 'Fjalla One';
          text-transform: capitalize;
          position: relative;
          padding: 12px 0 8px 0;
          &:after {
            content: '';
            position: absolute;
            z-index: 2;
            height: 1px;
            width: 0;
            bottom: 0;
            left: 0;
            background: $second-color;
            transition: width ease 250ms;
          }
        }

        &.active,
        &:hover {
          a {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  &_logo {
    width: 167px;
    height: 187px;
    margin-bottom: -148px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}